<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      {{ title }}
    </h1>
    <div>
      <table>
        <tr>
          <td>
            <a [routerLink]="'/Add'" class="navbar-brand">Add Task</a>
          </td>
          <td>
              <a [routerLink]="'/View'" class="navbar-brand">View Task</a>
            </td>
        </tr>
      </table>
     </div>
    <div class="left">
      <router-outlet></router-outlet>
    </div>
  </div>



