<div class="container align-left">
  <div class="table-responsive">
    <table class="table borderless">
      <tr>
        <td>Task</td>
        <td colspan="2"><input type="text" [(ngModel)]="taskSearch" class="form-control"></td>
        <td></td>
        <td>Parent Task</td>
        <td colspan="2"><input type="text" [(ngModel)]="parentTaskSearch"  class="form-control"></td>
      </tr>
      </table>
  </div>
  <div class="table-responsive">
    <table class="table borderless">
    <tr>
      <td>Priority from</td>
      <td><input type="text" [(ngModel)]="priorityFromSearch" class="form-control"></td>
      <td>Priority to</td>
      <td><input type="text" [(ngModel)]="priorityToSearch" class="form-control"></td>
      <td>Start Date</td>
      <td><input type="date" [(ngModel)]="startDateSearch" class="form-control" ></td>
      <td>End Date</td>
      <td><input type="date" [(ngModel)]="endDateSearch" class="form-control"></td>
    </tr>
    </table>
</div>

<div class="row font-bold">
  <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">.col-sm-4</div>
  <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">.col-sm-4</div>
  <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">.col-sm-4</div>
  <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">.col-sm-4</div>
  <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">.col-sm-4</div>
  <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">.col-sm-4</div>
  <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">.col-sm-4</div>
  <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">.col-sm-4</div>
  <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">.col-sm-4</div>
  <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">.col-sm-4</div>
</div>



<div class="table-responsive">
  <table class="table" [mfData]="taskList" #mf="mfDataTable" [mfRowsOnPage]="5">
      <thead class="thead-light">
        <tr>
          <th>
            <mfDefaultSorter by="TaskName">Task</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="ParentTaskName">Parent</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="Priority">Priority</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="StartDate">Start</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="EndDate">End</mfDefaultSorter>
            </th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tfoot>
          <tr>
            <td colspan="7">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
       <tr *ngFor="let taskItem of (mf.data|taskNameFilterPipe: taskSearch:parentTaskSearch:priorityFromSearch:priorityToSearch:startDateSearch:endDateSearch)" >
          <td>{{taskItem.TaskName}}</td>
          <td>{{taskItem.ParentTaskName}}</td>
          <td>{{taskItem.Priority}}</td>
          <td>{{taskItem.StartDate | date : 'MM/dd/yyyy'}}</td>
          <td>{{taskItem.EndDate | date : 'MM/dd/yyyy'}}</td>
          <td><button (click)="updateTask(taskItem.TaskId)" *ngIf="!taskItem.IsTaskEnded" class="btn btn-success btn-space">Edit Task</button></td>
          <td><button (click)="endTask(taskItem.TaskId)" *ngIf="!taskItem.IsTaskEnded" class="btn btn-success btn-space">End Task</button></td>
          <td><button (click)="deleteTask(taskItem.TaskId)" *ngIf="taskItem.IsTaskEnded" class="btn btn-success btn-space">Delete</button></td>
        </tr>
      </tbody>
  </table>
</div>
</div>
